@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&family=Teko:wght@500&family=Ubuntu:wght@300;400&display=swap');

* {
  box-sizing: border-box;
}

/* 
font-family: "Teko", sans-serif;
font-family: "Ubuntu", sans-serif; */

body {
  background-color: #111;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  max-width: 100vw;
  overflow: hidden;
  margin: 0;
}

/*! screen display */
#main-container{
  font-family: 'font-family: "Teko", sans-serif;';
  color: aliceblue;
  text-align: center;
  max-width: 100vw;
  /* border: solid lime 2px; */
}

/* header:title and instructions */
#header-container{
  font-family: "Rubik", sans-serif;
  margin-top: 20px;
}

/* Secret Number title heading */
.title{
  font-size: 3.5rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}

/* instructions div */
.instructions{
  font-size:  1.3rem;
  letter-spacing: 2px;
}

/* timer */
#timer-container{
  font-family: "Teko", sans-serif;
  font-size: 4rem;
  color: turquoise;
}

#btn-container{
  /* border: purple solid 2px; */
}

button{
  /* border: solid red 2px; */
  background-color: aliceblue;
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  /* letter-spacing: 1px; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 5px 65px;
  border-radius: 45px;
}

.hide{
  display: none;
}

button:hover{
  background-color: rgb(96, 210, 245);
}


#grid-container{
  /* border: solid lime 2px; */
  display: flex; /* display squares in a row instead of a column*/
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 600px;
  padding: 10px 0;
  margin: 0 10px;
  /* max-width: calc(100% - 610px); */
}

.square{
  /* border: solid lime 2px; */
  background-color: #1d1d1d;
  box-shadow: 0 0 2px #000;
  height: 50px;
  width: 50px;
  margin: 5px;
  color: white;
  line-height: 50px;
  text-align: center;
  transition: 2s ease;
}

.square:hover{
  transform-duration: 3s ;
}

/* 
#guess-container
#msg-container
#score-container */