body {
  background-color: rgb(46, 47, 48);
  border: yellow solid 4px;
  
}

/*Flex Container*/
#flex-container {
  border: blue solid 5px;
  color: turquoise;
  font-size: 1em;
  text-align: center;
  padding: 10px 10px;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  height: 400px;
  margin: 0 auto;
}

/**Sections**/
.header-section,
.game-section,
.start-end-section {
  margin: 0 auto;
}

/**Header Section**/
#header {
  font-family: "Teko", sans-serif;
  font-size: 2em;
  border: lime solid 2px;
  margin-top: 80px;
}

#header-h1 {
  font-family: "Teko", sans-serif;
  font-size: 1em;
  margin-top: -80px;
}

#p-header {
  /* font-family: 'Times', sans-serif; */
  color: lightgrey;
  font-size: 1em;
  margin-top: -20px;
}

/**Game Section**/
#section-number-guess {
  font-size: 1.5em;
  /* border: lime solid 2px; */
  margin-top: 20px;
  padding: 20px;
}

#section-number-input {
  font-size: 1em;
  background-color: rgb(255, 255, 255);
  border-bottom: turquoise solid 5px;
  margin: 10px;
  padding: 20px;
  width: 40px;
  text-align: center;
}

#section-secret-number-box {
  border: white solid 3px;
  font-family: "Teko", sans-serif;
  font-size: 8em;
  color: deeppink;
  /* margin: 0 auto;
  height: 100px; */
  /* padding: 10px 10px; */
  text-align: center;
  animation: animate 1.5s linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0.9;
  }

  100% {
    opacity: 0;
  }
}

#section-guess-array {
  font-family: "Rubik", sans-serif;
  font-size: 1.5em;
  color: deeppink;
  /* border: lightskyblue solid 4px; */
  padding: 20px;
  margin-top: 20px;
}

/**Buttons**/
.btn {
  font-family: "Ubuntu", sans-serif;
  font-size: 0.5em;
  color: black;
  border: none;
  background-color: turquoise;
  border-radius: 45px;
}

#submitBtn {
  padding: 20px;
}

/**Start-End Section**/
#section-start-end {
  border: magenta 2px solid;
  margin-bottom: 200px;
  padding: 20px;
}

#startBtn,
#resetBtn {
  font-size: 2em;
  font-weight: bold;
  padding: 20px;
}

/**Visibility**/
/* .show{

} */

.hide {
  display: none;
}
